body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  <div className="Header">
       <div className="top-header">
           <nav className="menu">
               <a href="#">Home</a>
               <a href="#">Trending</a>
               <a href="#">Latest</a>
               <a href="#">Blog</a> </nav>
       </div> 

       <div className="title">
       <h1>Nielvid Music Blog</h1>
       </div>

        </div>
        */